#tableContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap:0px;
    width: fit-content;
    margin: 20px auto;
}
#tableContainer .inner-block {
    position: relative;
    border: 0px solid black;
}
#tableContainer .inner-block .overlay {
    position: absolute;
    top: 2px;;
    left: 2px;;
    width: 250px;
    height: 250px;
    background-color: rgba(150, 200, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 220px;
    font-weight: bold;
    pointer-events: none;
}
#tableContainer .inner-block .overlay[data-value="X"] {
    color: red;
}
#tableContainer .inner-block .overlay[data-value="O"] {
    color: green;
}
